.win:after {
  content: "";
  background: url(../img/marchmadness.jpg);
  background-size: cover;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.lose:after {
  content: "";
  background: url(../img/lose.jpg);
  background-size: cover;
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.try-again-btn {
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  width: 100px;
  height: 50px;
  border: solid 1px #e6e6e6;
  background: white;
  border-radius: 5px;
  margin-top: 4em;
  font-size: 1.2em;
  color: #9D281D;
}

.beat-score-btn {
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  width: 113px;
  height: 60px;
  border: solid 1px #e6e6e6;
  background: white;
  border-radius: 5px;
  margin-top: 4em;
  font-size: 1.2em;
  color: #9D281D;
}

@keyframes bg-animate {
  0%,100% {

  }
  50% {

  }
}

.new-game-container {
  margin-top: 14em;
  animation: floating 1.5s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

.title {
  color: white;
  font-size: 4em;
  font-family: 'oswald', sans-serif;
  text-align: center;
  padding-top: .3em;
  text-transform: uppercase;
}

.ball-icon {
  font-family: 'icon', 'oswald', sans-serif;
  color: #9D281D;
  text-transform: none;
}

.notification-center {
  font-family: 'icon', sans-serif;
  padding-left: 3em;
  margin-top: -1.5em;
  position: relative;
}

.lives {
  font-size: 3em;
}

.clock {
  float: right;
  margin-right: 3em;
  font-family: sans-serif;
}

.subtitle {
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
  padding-top: 1em;
}

.easy-version {
  text-align: center;
  border: .3em solid white;
  width: 20em;
  padding: .7em 0;
  margin-top: 7em;
  position: absolute;
  top: 50%;
  left:50%;
  margin-left:-11em;
  transform: perspective(200px) rotateY(-15deg);
}

a {
  color: white;
}

.easy-version:hover, .hard-version:hover{
  color: black;
  background-color: white;
}

.hard-version {
  text-align: center;
  border: .3em solid white;
  width: 20em;
  padding: .7em 0;
  margin-top: 11em;
  position: absolute;
  top: 50%;
  left:50%;
  margin-left: -11em;
  transform: perspective(200px) rotateY(15deg);
}

.grid {
  text-align: justify;
  position: relative;
  height: auto;
  padding: 7em;
  padding-top: 2em;
}

.grid:after {
  content: "";
  display: inline-block;
  width: 100%;
  background: green;
}

.grid-cell-easy {
  box-sizing: border-box;
  display: inline-block;
  margin: .1em;
  position: relative;
  border-right: 0;
  border-bottom: 0;
  float: left;
  width: 16%;
}

.grid-cell-hard {
  box-sizing: border-box;
  display: inline-block;
  margin: .1em;
  position: relative;
  border-right: 0;
  border-bottom: 0;
  float: left;
  width: 12%;
}

.grid-cell-easy:before, .grid-cell-hard:before {
  content: '';
  float: left;
  padding-top: 100%;
  width: 0em;
  background: red;
}

.checkbox {
  opacity: 0;
}

.grid-card {
  background: #d67a02;
  border-radius: 6em;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('../img/ball.jpg');
  background-size: cover;
}

.grid-cell-easy, .grid-cell-hard {
  animation: flipInY .5s forwards;

  .grid-icon {
    animation: show .5s forwards;
  }
}

.grid-cell-not-clicked {
  animation: flipOutY .5s forwards;

  .grid-icon {
    animation: hide .5s forwards;
  }
}

@keyframes flipInY {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    opacity: 1;
  }

  60%, 100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }

  70% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    // transition-timing-function: ease-in;
  }

  90% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    // transition-timing-function: ease-in;
  }
}

@keyframes flipOutY {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 1;
  }

  60%, 100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
  }

  70% {
    transform: perspective(400px) rotate3d(0, 1, 0, 200deg);
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 170deg);
    // transition-timing-function: ease-in;
  }

  90% {
    transform: perspective(400px) rotate3d(0, 1, 0, 190deg);
    // transition-timing-function: ease-in;
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.grid-icon {
  font-family: 'icon', sans-serif;
  font-size: 8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.win-message, .lose-message {
  width: 700px;
  font-weight: 100;
  font-size: 2.9em;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
